@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.listBox{
		margin-left: 25%;
		margin-top: 10%;
		/* border: 1px blue dashed; */
		width: 600px;
		padding: 20px;
		background: #181A40;
		opacity: 0.9;
}

body{
		font-size: 1.2em;
		color: white;
		font-family: 'Nanum Pen Script', cursive;
		background-image:url('back.jpg');
}

.listopen{
		position: relative;
		left: -50px;
		background: #9DC427;
		width: 400px;
}

.listDataBox{
		margin-left:12.5%;
		/* border: 1px blue dashed; */
		width: 450px;
		
		
}
.listStatus{
		border: 1px white dotted;
		float: 
}

.newUserLink{
		width: 120px;
		height: 30px;
		border: 1px black solid;
		text-align: center;
		vertical-align: middle;
		padding-top:4px;
}

.newUserLink> a:link{
		text-decoration: none;
}

table{
		
		border-spacing: 3px;
}
th{
		height: 30px;
		font-size: 1.4em;
}

th, .noData, .nameData{
		border: 1px solid black;
		text-align: center;
}

.userNo{
		text-align: center;
		width: 50px;
}

.email{
		width: 250px;
}

.name{
		width: 100px;
}

td{
		border: 1px solid black;
		height: 30px;
}

.emailData{
	padding-left: 20px;	
	color: white;
}
