h1 {
  text-align: center;
}
#title {
  text-align: center;
  font-size: 14px;
  color: #D8D8D8;
  width: 205px;
  margin-left: 2px; 
}
#description {
  text-align: center;
  font-size: 14px;
  color: #D8D8D8;
}
#main {
  width: 209px;
}
#input {
  text-align: center;
}
input {
  border: 0px;
}